name: Django CI/CD

# 触发条件：当代码 push 到 main 分支时触发
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  IMAGE_NAME: my-django-app

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      run: |
        python manage.py test

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: |
          ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}


    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Send CI result to Lambda
      if: always()   # ALWAYS run even if tests fail
      run: |
        TIMESTAMP=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

        PAYLOAD=$(jq -n \
          --arg repo "${{ github.repository }}" \
          --arg actor "${{ github.actor }}" \
          --arg branch "${{ github.ref_name }}" \
          --arg commit "${{ github.sha }}" \
          --arg version "${{ env.VERSION }}" \
          --arg docker_image "${{ secrets.DOCKERHUB_USERNAME }}/django-app:${{ env.VERSION }}" \
          --arg ci_status "${{ job.status }}" \
          --arg timestamp "$TIMESTAMP" \
          '{
            repository: $repo,
            actor: $actor,
            branch: $branch,
            commit: $commit,
            version: $version,
            docker_image: $docker_image,
            ci_status: $ci_status,
            timestamp: $timestamp
          }'
        )

        echo "Payload: $PAYLOAD"

        aws lambda invoke \
          --function-name git-ci-logger \
          --invocation-type Event \
          --payload "$PAYLOAD" \
          response.json